<p id="notice"><%= notice %></p>

<p>
  <strong>Subject</strong>
  <%= @inqury.subject %>
</p>

<p>
  <strong>Content</strong>
  <%= @inqury.content %>
</p>

<%= link_to 'Edit', edit_inqury_path(@inqury, :pid => @pid) %> |
<%= link_to 'Back', inquries_path(:pid => @pid) %>
