<% provide(:title, @company.Name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="company_info">
	
      <p><strong>Name:</strong><%= @company.Name %></p>
	  <p><strong>Website:</strong><%= @company.Website %></p>
	  <p><strong>Address:</strong><%= @company.Address %></p>
	  <p><strong>Size:</strong><%= @company.Size %></p>
	  <p><strong>Founded:</strong><%= @company.Founded %></p>
	  <p><strong>Revenue:</strong><%= @company.Revenue %></p>
	  <p><strong>Synopsis:</strong><%= @company.Synopsis %></p>
	  
	  <%= link_to 'Edit', edit_company_path(@company) %>
	  <%= link_to 'Back', companies_path %>	  
    </section>
  </aside>
</div>

<p><strong>Your houses:</strong>

<table>
  <thead>
    <tr>
      <th>Location &emsp;&emsp;&emsp;</th>
      <th>Square Footage &emsp;&emsp;&emsp;</th>
      <th>Year &emsp;&emsp;&emsp;</th>
      <th>Style &emsp;&emsp;&emsp;</th>
      <th>Price &emsp;&emsp;&emsp;</th>
      <th>Floors &emsp;&emsp;&emsp;</th>
      <th>Basement &emsp;&emsp;&emsp;</th>
      <th>Owner	&emsp;&emsp;&emsp;</th>
      <th>Contact &emsp;&emsp;&emsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company.houses.each do |house| %>
      <tr>
        <td><%= house.location %></td>
        <td><%= house.square_footage %></td>
        <td><%= house.year %></td>
        <td><%= house.style %></td>
        <td><%= house.price %></td>
        <td><%= house.floors %></td>
        <td><%= house.basement %></td>
        <td><%= house.owner %></td>
        <td><%= house.contact %></td>
        <td><%= link_to 'Show', house %>&nbsp;</td>
        <td><%= link_to 'Edit', edit_house_path(house) %>&nbsp;</td>
        <td><%= link_to 'Delete', house, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;</td>
      </tr>
	<% end %>
  </tbody>
</table>
